<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My cool blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <header>
        <h1>My cool blog</h1>
    <header>
    <main>
        <article>
            <div>
                <h2>
                    <a href="#">Titulo</a>
                    <span class="author"></span>
                <h2>
                <span>Publicado el FECHA<span>
            </div>
            <p>Texto</p>
        </article>
    </main>
</body>
</html>
