{% extends 'base.html' %}

{% block content %}
    {% for post in posts %}
        <article>
            <div class="header">
                <h2>
                    <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
                    <span class="author">{{ post.author.username }}</span>
                </h2>
                {% if user.is_authenticated %}
                    <div>
                        <a class="button accent" href="{% url 'post_publish' pk=post.pk %}"><i class="icon ion-ios-done-all"></i></a>
                        <a class="button accent" href="{% url 'post_remove' pk=post.pk %}"><i class="icon ion-ios-trash"></i></a>
                    </div>
                {% endif %}
            </div>
            <p>{{ post.text|linebreaksbr }}</p>
        </article>
    {% endfor %}
{% endblock %}
