body {
    padding: 0;
    font: 14px Niramit;
    background-color: #eee;
}

* {
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3 {
    font-weight: normal;
    text-transform: uppercase;
    font-family: Allerta Stencil, sans-serif;
}

a {
    text-decoration: none;
    color: #7D4187;
}

input, textarea, button, .button {
    outline: none;
    padding: 8px 16px;
    border-radius: 3px;
    border: 1px solid #eee;
    background-color: #FFF;
    font-size: 15px;
    display: block;
}

button, .button {
    cursor: pointer;
    text-transform: uppercase;
    font-family: Allerta Stencil, sans-serif;
    font-size: 1.1rem;
}

button .icon, .button .icon {
    font-size: 1rem;
}

button.accent, .button.accent {
    color: #eee;
    background-color: #7D4187;
    transition: 0.5s;
}

button.accent:hover, .button.accent:hover {
    background-color: #0054A8;
    transition: 0.5s;
    color: #fff;
}

.icon {
    font-size: 2rem;
}

header {
    padding: 10px 20px;
    background-color: #333;
    border-bottom: 1px solid #222;
    box-shadow: 0 0 20px #666;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div > * {
    margin-left: 15px;
}

header a {
    color: #eee;
}

main {
    padding: 20px;
    min-height: calc(100vh - 120px);
}

footer {
    color: #ddd;
    background-color: #0054A8;
    padding: 20px;
}

footer a {
    font-weight: bold;
    color: #fff;
}

article {
    background-color: #FFF;
    padding: 15px;
    border-radius: 3px;
    margin-bottom: 15px;
    box-shadow: 0 0 10px #ccc;
}

article .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -15px -15px 15px -15px;
    padding: 15px;
    border-bottom: 1px solid #eee;
}

article h2 {
    display: flex;
    align-items: center;
}

article .author {
    background-color: #0054A8;
    color: #fff;
    font-size: 0.7rem;
    padding: 2px 6px;
    margin-left: 15px;
    border-radius: 3px;
}

article .published {
    font-size: 0.7rem;
    color: #444;
}

article#post {
    font-size: 1.5rem;
    padding: 30px;
}

article#post .header {
    margin: -30px -30px 30px -30px;
    padding: 30px
}

article#post .header h2 > * {
    margin-left: 15px;
}

form p {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

form p label {
    font-size: 1.2rem;
}

.buttons {
    display: flex;
    justify-content: flex-end;
}
